
.boxPrincipal {
    background-color: white;
    right: -20%;

    width: 80%;
    height: 90%;
    border: 15% solid white;

    overflow: auto;
    
    position: relative;
    animation-name: documentAnimation;
    animation-duration: 4s;
}

.boxTexto {
    position: relative;
    width: 80%;
    border: 0% solid white;
    left: 15%;

    overflow: auto;
}

.center {
    text-align: center;
    font-size: 150px;
}


p {
    font-size: 150%;
}



@keyframes documentAnimation {
    0%   {right:-200%;}
    100% {right:-20%;}
}
